<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Python秘籍</title>
    <link rel="icon" href="{{ url_for('static', path='favicon.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/style.css') }}" />
    <script src="{{ url_for('static', path='message_area.js') }}"></script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    <script>
        function update_iframe(url) {
            document.getElementById('document_view').src = url;
        }
    </script>
    <style>
        ul a {
            color: green;
        }
    </style>
</head>

<body>
    <h1 id='top'>Python秘籍</h1>
    <a href="https:/gitter.im/Python_NoBug_Book/Debug" class="color_link" title="报告Bug"
        target="_blank">发现了一个Bug?现在报告</a><br><br>
    <a class="color_link" title="Python包\模块帮助" href="/command/python_doc_help/"
        target="_blank">获取Python包\模块的帮助</a><br><br>
    <button type="button" onclick="window.open('https:/github.com/chenmy1903/Python_Book')"
        title="打开Python秘籍的GitHub主页">项目的GitHub页面</button>
    <h2></h2>
    <div class="sidebar" style="float: left; margin-right: 0px; width: auto; top: 0px;">
        <ul>
            <!--width: 210px-->
            {% for name, url in docs.items() %}
            <li><a style="float: left;" onclick="update_iframe('/document/{{ url }}')" href="javascript: void(0)"
                    title="{{ name }}">{{ name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <iframe src="/document/index.html" id='document_view' style="background-color: lightblue; " scrolling='auto'
        seamless width="80%" height="1000"></iframe><br>
</body>

</html>