<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Print的使用</title>
</head>

<body>
    <h1>print的使用</h1>
    <p>示例:</p>
    <iframe src="/get_code_color/print_function_0.py"></iframe>
    <h1>内部参数:</h1>
    <h2>print(*values, sep=' ', end='\n', file=sys.stdout, flush=False)</h2>
    <h1>参数讲解:</h1>
    <h3><pre>
*values: 所有输出的内容，用", "间隔。default = ()
sep 间隔字符。 default = ' '
end 换行字符。 default = '\n'
file 输出的位置: type = _io.TextIOWrapper
flush 实时刷新 default = False
    </pre></h3>
</body>

</html>