<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Tkinter Gui</title>
</head>

<body>
    <h1>tkinter Gui图形设计</h1>
    <h1>示例: Hello World</h1>
    <iframe src="/get_code_color/tkinter_gui_示例.py" width="600"></iframe>
    <p>创建一个tkinter窗口</p>
    <iframe src="/get_code_color/tkinter_gui_0.py"></iframe>
    <p>导入tkinter</p>
    <iframe src="/get_code_color/tkinter_gui_1.py"></iframe>
    <h2>由tkinter开发的Gui项目</h2>
    <h4>
    <pre>
<a href="javascript: void(0)" onclick="window.open('/command/IDLE')" title="IDLE 现在打开这个IDE">IDLE</a>
<a href="https://github.com/chenmy1903/TkPy2">TkPy2</a>
<a href="https://github.com/chenmy1903/TkPy2_update">TkPy2 update</a> 
    </pre>
    </h4>
</body>

</html>